.canvas {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  flex: 1;
  width: 100%;
  background-color: #EDEDED;
  border-radius: 20px;
  position: relative;

  > p {
    color: gray;
  }
}

.views {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
}