.canvas {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 60px 20px 20px;
  overflow: hidden;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;

  > p {
    margin: auto;
    color: gray;
  }

  &.dropping {
    box-shadow: inset 0 0 0 3px #2868E4;
    background-color: rgba(#2868E4, 0.1);
  }
}

.views-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.views {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.modifiers {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
  list-style: none;
  margin: 0;
  padding: 0;
}