.canvas {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  > p {
    color: gray;
  }
}

.views {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
}