.wrapper {
  display: flex;
}

.item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #a1b6ff;

  &:not(:last-child) {
    margin-right: 16px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: -5px;
      top: 50%;
      transform: translate(100%, -50%);
      width: 10px;
      height: 2px;
      border-radius: 2px;
      background-color: #a1b6ff;
    }
  }

  &.current {
    border-color: #3d64ef;
  }

  &.completed {
    border-color: #3d64ef;
    background-color: #3d64ef;
    color: white;
  }
}
