.view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;

  > *:not(:first-child) {
    margin-left: 30px;
  }
}

.container {
  align-items: center;
  background-color: #FFC328;
  display: flex;
  padding: 12px 15px;
  border-radius: 15px;
  position: relative;

  :global(.dragging) & {
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.15);
  }

  &.dropping {
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      box-shadow: inset 0 0 0 3px #2868E4;
      background-color: rgba(#2868E4, 0.25);
      border-radius: 15px;
    }
  }

  pre {
    margin: 0;
  }

  input {
    width: 175px;
    border: none;
    background-color: white;
    padding: 5px;
    margin-inline: 5px;
    border-radius: 5px;
    font-size: 13.5px;

    &::placeholder {
      color: lightgray;
    }

    &:disabled {
      pointer-events: none;
    }
  }

  button {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translate(100%, -50%);
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: ease-out 100ms;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: -5px;
      top: 0;
    }

    &:focus {
      opacity: 1;
    }
  }

  .view:not(.dropping) &:hover {
    button {
      opacity: 1;
    }
  }

  div[aria-hidden="true"] {
    position: absolute;
    user-select: none;
    pointer-events: none;
    opacity: 0;

    pre {
      font-size: 13.5px;
      font-family: inherit;
    }
  }
}