.page {
  display: flex;
  flex-direction: column;
  padding: 15px;
  min-height: 100vh;
  flex: 1;

  h1 {
    margin: 0;
  }
}

.code {
  align-self: flex-start;
  
  pre {
    padding: 20px !important;
    border-radius: 15px !important;
  }
}

.play-area {
  display: flex;
  gap: 30px;
  flex: 1;
}

.previews {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 700px;
  overflow: auto;
}