.page {
  display: flex;
  flex-direction: column;
  padding: 15px;
  min-height: 100vh;
  flex: 1;

  h1 {
    margin: 0;
  }
}

.code {
  align-self: flex-start;
  pre {
    background-color: #262626;
    color: white;
    padding: 20px;
    border-radius: 15px;
  }
}

.play-area {
  display: flex;
  gap: 15px;
  flex: 1;
}