.modal-trigger {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  background-color: #3D64EF;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EDEDED;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.handle {
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  &:active {
    cursor: grabbing;
  }

  &::before {
    content: '';
    height: 4px;
    width: 80px;
    border-radius: 2px;
    background-color: #929292;
  }
}

.toolbox {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex: 1;
  background-color: #D2D2D2;
  padding: 3px;
  border-radius: 15px;
  position: relative;
  margin: 10px;

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(50% - 3px);
    height: calc(100% - 6px);
    border-radius: 12px;
    background-color: white;
    transform: translateX(calc(100% * var(--active-tab, 0)));
    transition: 300ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.tab-item {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 15px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
}

.tab-view {
  height: 350px;
  overflow: auto;
  display: flex;
}

.block-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;

  button {
    font-weight: 600;
    text-align: left;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &[data-state="active"] {
      background-color: #3D64EF;
      color: white;
    }
  }
}

.block-preview {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 10px 10px 10px 0;
  background-color: white;
  border-radius: 15px;

  > div:not([hidden]) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .block-preview__header {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border-bottom: 1px solid #EDEDED;
    width: 100%;
    gap: 5px;

    p, h3 {
      margin: 0;
      font-size: 16px;
    }
  
    p {
      color: #636363;
    }
  }

  .block-preview__body {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}