.hint {
  border: 1px solid #3d64ef;
  border-radius: 15px;
  background-color: #d8e0ff;
  padding: 15px 20px;
  line-height: 1.5;

  code {
    background-color: #ededed;
    border: 1px solid #a6a6a6;
    border-radius: 6px;
    padding: 2px 3px;
  }
}
