.view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;

  > *:not(:first-child) {
    margin-left: 15px;
  }
}

.container {
  align-items: center;
  background-color: #FFC328;
  display: flex;
  padding: 12px 15px;
  border-radius: 15px;
  position: relative;

  .dragging & {
    opacity: 0;
  }

  &.dropping {
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(#2868E4, 0.25);
      border-radius: 15px;
    }
  }

  pre {
    margin: 0;
  }

  select {
    border: none;
    padding: 5px;
    margin-inline: 5px;
    border-radius: 5px;

    &:disabled {
      opacity: 1;
      pointer-events: none;
    }
  }

  button {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translate(100%, -50%);
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: ease-out 100ms;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: -5px;
      top: 0;
    }

    &:focus {
      opacity: 1;
    }
  }

  .view:not(.dropping) &:hover {
    button {
      opacity: 1;
    }
  }

  div[aria-hidden="true"] {
    position: absolute;
    user-select: none;
    pointer-events: none;
    opacity: 0;

    pre {
      font-size: 13.5px;
      font-family: inherit;
    }
  }
}