.input {
  position: relative;

  pre {
    font-size: 13.5px;
    font-family: monospace;
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }

  input {
    padding: 0;
    position: absolute;
    inset: 0;
    border: none;
    background-color: white;
    font-size: 13.5px;
    font-family: monospace;

    &::placeholder {
      color: lightgray;
    }

    &:disabled {
      pointer-events: none;
    }
  }
}
