.input {
  position: relative;
  margin-inline: 5px;

  pre {
    font-size: 13.5px;
    padding: 5px;
    font-family: inherit;
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }

  input {
    padding: 5px;
    position: absolute;
    inset: 0;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-size: 13.5px;

    &::placeholder {
      color: lightgray;
    }

    &:disabled {
      pointer-events: none;
    }
  }
}
