.canvas {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  overflow: hidden;
  border-radius: 20px;

  > p {
    margin: auto;
    color: gray;
  }

  &.dropping {
    box-shadow: inset 0 0 0 3px #2868e4;
    background-color: rgba(#2868e4, 0.1);
  }
}

.views-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  padding: 20px;
}

.views {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    transform-origin: top left;
  }
}
